<%- include("partials/title.ejs") %>

<body>
    <%- include("partials/header.ejs") %>
    <div class="container py-3">
        <h1><%= post.title %></h1>
        <h4><%= post.author %></h1>
        <span><%= post.date %></span>
        <textarea class="article py-3"><%= post.content %></textarea>
        <div class="d-flex justify-content-end">
            <a href="/"><button class="btn btn-dark py-2 my-3">Back</button></a>                           
          </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>